<select name="listaColegio" id="listaColegio" class="form-control">
    <option value="0">SELECCIONAR</option>
    {% for colegio in colegios%}
        <option value="{{colegio.idcolegio}}">
            {{colegio.nombre}}
        </option>
    {% endfor%}
     
</select>
    <p class="help-block">Si no encuentra el colegio, al final de la lista seleccione "otro". </p>

