{% extends "::base.html.twig" %}

{% block title %}FundeuisFrontalBundle:Busquedaglobal:Buscaruniversidad{% endblock %}

{% block body %}
<h1>Welcome to the Busquedaglobal:Buscaruniversidad page</h1>
{% endblock %}
