{% extends "::base.html.twig" %}

{% block title %}FundeuisFrontalBundle:Busquedaglobal:Buscarcolegio{% endblock %}

{% block body %}
<h1>Welcome to the Busquedaglobal:Buscarcolegio page</h1>
{% endblock %}
