<select name="listaUniversidad" id="listaUniversidad" class="form-control">
    <option value="0">SELECCIONAR</option>
    {% for universidad in universidades%}
        <option value="{{universidad.iduniversidad}}">
            {{universidad.nombre}}
        </option>
    {% endfor%}

</select>
<p class="help-block">Si no encuentra universidad, al final de la lista seleccione "otro". </p>